@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
/* ----- Navbar ----- */
.navbar{
    background-color: white;
    box-shadow: rgba(39, 39, 200, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navbar-brand{
    color: #0C145A;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
}
.navbar-nav{
    margin-left: auto;
    color: #0C145A;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
/* ----- /Navbar ----- */
/* ----- Header ----- */
.colom-judul{
    margin-top: 150px;
}
.text-judul{
    font-family: 'Jost', sans-serif;
    font-size: 90px;
    font-weight: 700;
    color: #0C145A;
}
.text-sub-judul{
    font-family: 'Jost', sans-serif;
    color: #E0DECA;
}
.text-span{
    color: #764AF1;
}
.button-header {
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 15px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Jost', sans-serif;
}
.button-header:hover{
    background-color: #0C145A;
}
.image-header{
    margin-top: 90px;
    position: absolute;
    margin-left: -200px;
}
/* ----- /Header ----- */
/* ----- Content Deretan Mobil ----- */
.after-header-wraper{
    margin-top: 200px;
    text-align: center;
}
.text-after-header{
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #764AF1;
}
.text-sub-after-header{
    color: #E0DECA;
}
.card-jenis-mobil-wraper{
    margin-top: 70px;
}
.card-jenis-mobil{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}   
/* ----- /Content Deretan Mobil ----- */
/* ----- /Content Tentang Kami ----- */
.tentang-kami-wraper{
    margin-top: 200px;
    text-align: center;
}
.text-tentang-kami{
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #764AF1;
}
.text-after-judul-tentang-kami{
    font-family: 'Jost', sans-serif;
    color: #E0DECA;
}
.image-tentang-kami{
    margin-top: 90px;
}
.text-sub-tentang-kami{
    margin-top: 90px;
    font-family: 'Jost', sans-serif;
    color: #E0DECA;
}
/* ----- /Content Tentang Kami ----- */
/* ----- /Content Footer ----- */
.footer-wraper{
    padding: 10px;
    background-color: #0C145A;
    width: 100%;
    position: relative;
    margin-top: 150px;
}
.text-footer-wraper{
    margin-top: 50px;
}
.text-footer-judul{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.text-sub-footer{
    font-family: 'Jost', sans-serif;
    color: #E0DECA;
}
/* ----- /Content Footer ----- */
/* ----- /Content Rental ----- */
.rental-wraper{
    margin-top: 70px;
}
.rental-judul-text{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #764AF1;
}
.card-rental-mobil-wraper{
    margin-top: 70px;
}
.card-rental-mobil{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
} 
.button-rental-kembali {
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    font-family: 'Jost', sans-serif;
}
/* ----- /Content Rental ----- */
/* ----- /Content pesan ----- */
.pesan-wraper{
    margin-top: 70px;
}
.pesan-judul-text{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #764AF1;
}
.card-pesan-mobil-wraper{
    margin-top: 70px;
}
.card-pesan-mobil{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-form-pesan-wraper{
    margin-top: 70px;
} 
.card-form-pesan{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
input[type="text"],
select,textarea {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #764AF1;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
input[type="date"]{
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #764AF1;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
input[type="password"]{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #764AF1;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
  }
  .text-label{
    font-family: 'Jost', sans-serif;
    color: #0C145A;
    font-weight: 700;
  }
  .wraper-form{
    margin-top: 50px;
    padding-inline: 30px;
  }
  .text-judul-form{
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #764AF1;
  }
  .text-sub-form{
    font-family: 'Jost', sans-serif;
    color: #E0DECA;
  }
  .button-pesan-kembali {
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    font-family: 'Jost', sans-serif;
}
.button-pesan-submit {
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
}
/* ----- /Content pesan ----- */
/* ----- /Registrasi ----- */
.registrasi-wraper{
    margin-top: 80px;
}
.registrasi-image-wraper{
    margin-top: 70px;
}
.card-registrasi-wraper{
    margin-top: 70px;
}
.card-registrasi{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} 
.registrasi-form-wraper{
    padding-inline: 20px;
}
.registrasi-text-judul{
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #764AF1;
}
.button-registrasi{
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
}
.button-registrasi-kembali {
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    font-family: 'Jost', sans-serif;
}
/* ----- /Registrasi ----- */
/* ----- Login ----- */
.login-wraper{
    margin-top: 80px;
}
.login-image-wraper{
    margin-top: 70px;
}
.card-login-wraper{
    margin-top: 70px;
}
.card-login{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} 
.login-form-wraper{
    padding-inline: 20px;
}
.login-text-judul{
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #764AF1;
}
.button-login{
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
}
.button-login-kembali {
    background-color: #764AF1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    font-family: 'Jost', sans-serif;
}
/* ----- /Login ----- */
@media only screen and (max-width: 500px) {
    .registrasi-wraper{
        margin-top: -200px;
    }
    .registrasi-image-wraper{
        margin-top: -20px;
    }
    .login-wraper{
        margin-top: -200px;
    }
    .login-image-wraper{
        margin-top: -20px;
    }
}
